{% load static %}
{% include 'header.html' %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% include 'top.html' %}
  {% include 'nav.html'%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        web服务器列表
        <small>Version 1.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">web服务器列表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      {% for list in serverlist%}
      <div class="row z{{list.id}}">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ list.ip }}</h3>

              <div class="box-tools pull-right">
                <a href="{% url 'serverinfo' list.id %}" class="btn btn-box-tool" data-widget="jump" data-original-title='查看详情' title="查看详情" data-toggle="tooltip" style="margin-right:10px">
                  <i class="fa fa-circle-o"></i>
                </a>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            {% if list.info %}
            <div class="row">
              <!-- 事件提醒栏  -->
              <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="ion ion-ios-gear-outline"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">CPU</span>
                        <span class="info-box-number cpu" value="90">
                          {{list.info.0}}%
                        </span>
                    </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="ion ion-ios-gear-outline"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">内存</span>
                        <span class="info-box-number neicun" value="90">
                          {{list.info.2.2}}%
                        </span>
                    </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-12" style="height:105px">
                  <a href="{% url 'serverinfo' list.id %}" class="btn bg-olive btn-flat margin pull-left" style="margin-top:30px">查看详情</a>
              </div>
                <!-- /.col -->
              </div>
              {% else %}
                    <div class="box-body">
                        <div class="callout callout-danger">
                            <h4>没有数据</h4>
                            <p>可能数据库失恋了</p>
                        </div>
                    </div>
              {% endif %}
              <!-- /.row -->
            </div>

          </div>
          <!-- /.box -->
          <!--  后续直接写占位就好了    -->

        </div>
        {% endfor %}
        <!-- /.col -->
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->

  </div>

  <div class="control-sidebar-bg"></div>

</div>
<!-- jQuery 2.2.3 -->
{% include 'loadjs.html'%}
<script src="{% static 'js/jquery.knob.js'%}"></script>
<script type="text/javascript">
      notyf.confirm("欢迎查看服务器运行情况...");
</script>
</body>
</html>
